### ############################################################################
##! @file       ~/.config/autostart/gnome-keyring-ssh.desktop
##! @brief      Disables gnome-keyring-ssh
##! @author     0xD62EE11516877AA8
##! @date       2016-09-17
##! @copyright  GPLv3+

[Desktop Entry]
Type=Application
Name=SSH Key Agent
Comment=GNOME Keyring: SSH Agent
Exec=/usr/bin/gnome-keyring-daemon --start --components=ssh
OnlyShowIn=GNOME;Unity;MATE;
X-GNOME-Autostart-Phase=Initialization
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-keyring
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.10.1
X-Ubuntu-Gettext-Domain=gnome-keyring
X-GNOME-Autostart-enabled=false
Hidden=true

### end gnome-keyring-ssh.desktop
### ############################################################################
